.app-screen-one {
	padding-top: 120px;
	padding-bottom: 155px;
	.block-title__title {
		margin-bottom: 10px;
	}
	.container-fluid {
		width: 100%;
		max-width: 1590px;
		margin-left: auto;
		margin-right: auto;
	}
	&__carousel {
		padding-top: 80px;
		padding-bottom: 120px;
		&:before {
			content: url(../images/app-screen-moc-1-1.png);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -53%);
			@media(max-width: 1440px) {
				transform: translate(-50%, -53%) scale(.9);
			}
			@media(max-width: 1366px) {
				transform: translate(-50%, -53%) scale(.75);
			}
		}
		img {
			border-radius: 15px;
		}
		.owl-dots {
			position: absolute;
			bottom: -35px;
			left: 50%;
			transform: translateX(-50%);
		}
		.owl-dots .owl-dot {
			+ .owl-dot {
				margin-left: 5px;
			}
			span {
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: $thm_black;
				opacity: .2;
				margin: 0;
				transition: all .4s ease;
			}
			&.active {
				span {
					background-color: $thm_primary_color;
					opacity: 1;
				}
			}
		}
		.owl-nav {
			margin-top: 40px;
		}
		.owl-nav [class*=owl-] {
			width: 40px;
			height: 40px;
			background-color: $thm_base_color;
			color: #fff;
			margin: 0;
			padding: 0;
			cursor: pointer;
			transition: all .4s ease;
			i {
				line-height: 40px;
			}
			&:hover {
				color: $thm_black;
				background-color: $thm_primary_color;
			}
		}
		.owl-nav [class*=owl-]+[class*=owl-] {
			margin-left: 20px;
		}
	}
}