.header-navigation {
    background-color: transparent;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    position: relative;
    background-color: transparent;

    .container {
        background: transparent;
        position: relative;
        display: block;

        .logo-box {
            float: left;
            position: absolute;
            top: 50%;
            left: 15px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .navbar-brand {
            height: auto;
            margin: 0;
        }

        .menu-toggler {
            display: none;
        }

        .right-side-box {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 15px;
        }
    }

    .main-navigation {
        float: none;
        text-align: center;

        @media (min-width: 1200px) {
            display: block !important;
        }
    }
}

.header-navigation ul.navigation-box {
    margin: 0;
    padding: 0;
    list-style: none;

    li a .sub-nav-toggler {
        display: none;
    }

    >li {
        position: relative;
        padding: 35px 0;
        display: inline-block;
        vertical-align: middle;

        +li {
            margin-left: 50px;

        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        >a {
            font-weight: 400;
            font-size: 16px;
            color: #ffffff;
            padding: 0;
            transition: all .4s ease;
            position: relative;
            text-transform: capitalize;
            letter-spacing: .04em;
        }

        &.current>a,
        &:hover>a {
            text-shadow: 1px 0 0 rgba(#fff, .8);
        }

        /* Second Level Menu */
        @include dropDownMenuBase($selector: 'sub-menu', $position_top: 100%, $position_left: 0);

        &:hover {
            &:before {
                transform: scale(1, 1);
                transform-origin: left bottom;
            }

            @include dropDownMenuHover($selector: 'sub-menu');
        }

        /* Thrid Level Menu */
        >ul>li {
            @include dropDownMenuBase($selector: 'sub-menu', $position_top: 0%, $position_left: 100%, $right_align_position: 100%);

            &:hover {
                @include dropDownMenuHover($selector: 'sub-menu');
            }

            /* no more nested showen */
            ul {
                display: none;
            }
        }

    }
}



.header-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &__btn {
        background-color: #fff;
        color: $thm_black;
        padding: 8.5px 41px;
        border-radius: 25.5px
    }
}



.stricked-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-image: linear-gradient(-121deg, rgb(34, 44, 103) 0%, rgb(44, 59, 141) 50%, rgb(56, 78, 185) 100%);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
    opacity: 0;
    transform: translateY(-110%);
    transition: all .4s ease;

    ul.navigation-box>li {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.stricked-menu.stricky-fixed {
    opacity: 1;
    transform: translateY(0%);
}


.header-one__home-two {
    .header-navigation .container {
        @media(max-width: 1440px) {
            padding-right: 180px;
        }
    }
    .header-navigation .main-navigation {
        @media(max-width: 1440px) {
            float: right;
            text-align: right;
        }
    }
    .header-navigation ul.navigation-box>li>a {
        color: #1b2143;
        font-weight: 400;
        position: relative;
        @media(max-width: 1440px) {
            color: #fff;
        }
    }

    .header-navigation ul.navigation-box>li.current>a,
    .header-navigation ul.navigation-box>li:hover>a {
        color: $thm_black;
        text-shadow: 1px 0 0 rgba($thm_black, 1);
        @media(max-width: 1440px) {
            color: #fff;
            text-shadow: 1px 0 0 rgba(#fff, 1);
        }
    }
    .header-navigation ul.navigation-box > li + li {
        margin-left: 35px;
        @media(max-width: 1440px) {
            margin-left: 30px;
        }
    }
    .stricked-menu {
        background-image: none;
        background-color: #fff;
        .header-one__btn {
            background-color: $thm_primary_color;
            &:hover {
                background-color: $thm_black;
                color: #fff;
            }
        }
    }
}