.inner-banner {
	background: $thm_black url(../images/inner-banner-bg.png) top right no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 180px;
	padding-bottom: 120px;

	.container {
		position: relative;
		text-align: center;
	}
	&__title {
		margin: 0;
		font-size: 70px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 15px;
		display: inline-block;
		position: relative;
		&:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(70%, 0%);
            width: 202px;
            height: 98px;
            background: transparent url(../images/shapes/inner-banner-pattern-1-1.png) 0 0 no-repeat;
        }
	}
}

.thm-breadcrumb {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 1;
	&__item + &__item {
		&:before {
			content: '-';
			font-size: 18px;
			color: #fff;
			margin-left: 10px;
			margin-right: 10px;
			font-weight: 600;
		}
	}
	&__link {
		color: #fff;
		font-size: 18px;
		text-transform: capitalize;
		line-height: 1em;
		font-weight: 600;
		transition: all .4s ease;
	}
	&__item:hover &__link,
	.current &__link {
		color: $thm_primary_color;
	}
}