.testimonials-one {
    position: relative;
    margin-bottom: -36px;

    .block-title {
        margin-bottom: 35px;
    }


    &__background-image {
        position: absolute;
        bottom: -17%;
        left: 0;
    }

    &__text {
        margin: 0;
        color: #6d6d6d;
        font-size: 24px;
        line-height: 46px;
    }

    &__title {
        margin: 0;
        color: $thm_primary_color;
        font-weight: bold;
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 5px;
    }

    &__designation {
        color: $thm_black;
        font-size: 20px;
        margin: 0;
    }

    &__carousel {
        overflow: hidden;
    }

    .container {
        position: relative;
    }

    &__thumb-carousel {
        overflow: hidden;
        width: 100%;
        max-width: 430px;

        .swiper-slide {
            opacity: 0 !important;
            transition: all .4s ease;
        }

        .swiper-slide-active {
            opacity: 1 !important;
        }
    }

    .swiper-pagination {
        position: relative;
        left: auto;
        bottom: auto;
        text-align: left;
    }

    .my-auto {
        width: 100%;
    }
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0;
	}
    .swiper-pagination-bullet {
    	outline: none;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $thm_black;
        opacity: .2;
        margin: 0;
        transition: all .4s ease;
        + .swiper-pagination-bullet {
        	margin-left: 5px !important;
        }
		&:hover,
        &-active {
            background-color: $thm_primary_color;
            opacity: 1;
        }
    }
}